.cartItem {
    border: 1px solid #F3F3F3;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px;
    .cartItemImg {
        height: 70px;
        width: 70px;
        background-size: contain;
        background-position: 0 0px;
        background-repeat: no-repeat;
        margin-right: 20px;

    }
    p {
        font-size: 14px;
        margin: 0;
    }
    b {
        font-size: 16px;
    }
    .removeBtn {
        opacity: 0.5;
        cursor: pointer;
        transition: opacity 0.2s ease-in-out;

        &:hover {
            opacity: 1;
        }
    }
}